{% extends "templates/layout.html" %}
{% block title %} About | EcoMapper {% endblock %}
{% block content %}
<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="parallax"><img src="/static/images/NickMurray-77.jpg"></div>
</div>
<div class="container content">
  <div class="row center">
    <h1 class="header"> About</h1>
  </div>
  <p class="flow-text">
  EcoMapper is an online mapping platform for people with little technical background in remote sensing. We developed EcoMapper to enable you to map and report on the changing status of ecosystems, contributing to a global effort to assess the status of all ecosystems on Earth by the year 2025.
  </p>
  <p class="flow-text">
  We use the immense power of the Google Earth Engine, giving direct access to vast satellite data archives and state-of-the-art remote sensing methods. We handle the technical details so that you can focus on training, classifying and improving your ecosystem maps. The result is accurate data of the spatial distribution of an ecosystem type that can be easily downloaded as a GeoTIFF data to your Google drive.
  </p>

  <p class="flow-text">
  EcoMapper was developed by members of the IUCN Red List of Ecosystems global team . Our team includes ecosystem scientists with extensive research experience in large-area remote sensing, ecosystem dynamics monitoring and biodiversity risk assessment. We aim to catalyze status assessments of ecosystems globally, providing the data needed to assess a suite of global conservation goals and targets which have been adopted by nearly 200 nations
  </p>
  <p class="flow-text">
  <b>Terms of service:</b>All use of this app must comply with the <a href="https://earthengine.google.com/terms/">Google Earth Engine Terms of Service</a>.</p>
  <h4>Project team:</h4>
<ul class="collection">
  <li class="collection-item">Nicholas Murray</li>
  <li class="collection-item">David Keith</li>
  <li class="collection-item">Richard Lucas</li>
  <li class="collection-item">John Wilshire</li>
  <li class="collection-item">Daniel Simpson</li>
  <li class="collection-item">Anthea Mitchell</li>
</ul>

  <h4>Primary developers:</h4>
<ul class="collection">
  <li class="collection-item">John Wilshire</li>
  <li class="collection-item">Daniel Simpson</li>
  <li class="collection-item">Nicholas Murray</li>
</ul>
<span>Get in touch: ecomap at gmail.com</span>
</div>
{% endblock %}