{% extends "templates/layout.html" %}
{% block title %} About | Remap: remote ecosystem monitoring & assessment pipeline {% endblock %}
{% block content %}
<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="parallax"><img src="/static/images/Murray-23.jpg"></div>
</div>
<div class="container content">
  <div class="row center">
    <h1 class="header"> About</h1>
  </div>
  <p class="flow-text">
  Remap is an online mapping platform for people with little technical background in remote sensing. We developed remap to enable you to quickly map and report the status of ecosystems, contributing to a global effort to assess all ecosystems on Earth under the <a href="http://iucnrle.org/">IUCN Red List of Ecosystems</a>.
  </p>
  <p class="flow-text">
  Remap uses the power of the <a href="https://earthengine.google.com/">Google Earth Engine</a>, allowing you to directly access vast satellite data archives and state-of-the-art remote sensing methods. Remap handles the technical details of remote sensing so that you can focus on training, classifying and improving your maps.
  </p>

  <p class="flow-text">
  Remap was developed through a collaboration between the <a href="http://iucnrle.org/">IUCN Red List of Ecosystems</a> global team and the <a href="https://www.ecosystem.unsw.edu.au/">UNSW Centre of Ecosystem Science</a>. Our team includes ecosystem scientists with extensive research experience in large-area remote sensing, ecosystem dynamics monitoring and biodiversity risk assessment.
  </p>

<h4>Project team</h4>
<div style="border:none;">
  <ul class="collection">

    <li class="collection-item avatar">
      <img src="/static/images/ShyAlbatross.jpg" alt="" class="circle">
      <span class="title">Dr Nicholas Murray</span>
      <p>Project Lead, <a href="https://www.ecosystem.unsw.edu.au//">UNSW Centre of Ecosystem Science</a><br>
      </p>
    </li>

     <li class="collection-item avatar">
      <img src="/static/images/Caracara.jpg" alt="" class="circle">
      <span class="title">Prof David Keith</span>
      <p>Professor of Botany, <a href="https://www.ecosystem.unsw.edu.au//">UNSW Centre of Ecosystem Science</a><br>
      </p>
    </li>

     <li class="collection-item avatar">
      <img src="/static/images/GentooPenguin.jpg" alt="" class="circle">
      <span class="title">Prof Richard Lucas</span>
      <p>Professor of Remote Sensing, <a href="https://www.ecosystem.unsw.edu.au//">UNSW Centre of Ecosystem Science</a><br>
      </p>
    </li>

    <li class="collection-item avatar">
      <img src="/static/images/YellowEyedPenguin.jpg" alt="" class="circle">
      <span class="title">John Wilshire</span>
      <p>Developer, <a href="https://www.ecosystem.unsw.edu.au//">UNSW Centre of Ecosystem Science</a><br>
      </p>
    </li>

    <li class="collection-item avatar">
      <img src="/static/images/CurlewSand.jpg" alt="" class="circle">
      <span class="title">Daniel Simpson</span>
      <p>Developer, <a href="https://www.ecosystem.unsw.edu.au//">UNSW Centre of Ecosystem Science</a><br>
      </p>
    </li>

</ul>

<h4>Developers</h4>
 <ul class="collection">

    <li class="collection-item avatar">
      <img src="/static/images/YellowEyedPenguin.jpg" alt="" class="circle">
      <span class="title">John Wilshire</span>
      <p>Developer, <a href="https://www.ecosystem.unsw.edu.au//">UNSW Centre of Ecosystem Science</a><br>
      </p>
    </li>

    <li class="collection-item avatar">
      <img src="/static/images/CurlewSand.jpg" alt="" class="circle">
      <span class="title">Daniel Simpson</span>
      <p>Developer, <a href="https://www.ecosystem.unsw.edu.au//">UNSW Centre of Ecosystem Science</a><br>
      </p>
    </li>
    
    <li class="collection-item avatar">
      <img src="/static/images/ShyAlbatross.jpg" alt="" class="circle">
      <span class="title">Dr Nicholas Murray</span>
      <p>Project Lead, <a href="https://www.ecosystem.unsw.edu.au//">UNSW Centre of Ecosystem Science</a><br>
      </p>
    </li>
  </ul>
</div>
</div>
{% endblock %}