{% extends "templates/layout.html" %}

{% block content %}
<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="container">
    <div class="header center valign">
      <img style="width:400px;" src="/static/images/Logv2oColour2-01.png">
    </div>
    <div class="row center">
      <h4 class="header white-text"> Enabling Large-scale Ecosystem mapping and assessment.</h4>
      <a class="blue  waves-effect waves-light btn" href="#tutorial">Get Started</a>
    </div>
    <div class="row center">
      <a class="white-text" href="">github</a>
    </div>
  </div>
  <div class="parallax"><img src="/static/images/NickMurray-19.jpg"></div>
</div>

<!-- three panel thing -->
<div class="section container">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h1 class="center light-green-text">
            <i class="large material-icons">terrain</i>
          </h1>
          <h3 class="center">About</h3>
          <p class="flow-text">
EcoMapper is an online mapping platform for people with little technical background in remote sensing. We developed EcoMapper to enable you to map and report on the changing status of ecosystems, contributing to a global effort to assess the status of all ecosystems on Earth by the year 2025.
          </p>
          <div class="center">
            <a href="/about" class="blue waves-effect waves-light btn-large"><i class="material-icons right">keyboard_arrow_right</i>More</a>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h1 class="center light-green-text">
            <i class="large material-icons">explore</i>
          </h1>
          <h3 class="center">Maps</h3>
          <p class="flow-text">
          Until now, the data, remote sensing methods and computing resources needed to map ecosystems have been inaccessible to non-experts. Remap uses a machine learning classifier to analyse a range of spectral, biophysical and climatic satellite data relevant for mapping ecosystem distributions. To make your first map, upload your own training data or train the classifier from scratch. When your first map is done, calculate the area of the ecosystems in your map, analyse their 
          </p>
            <div class="center">
            <a href="#" class="blue waves-effect waves-light btn-large"><i class="material-icons right">keyboard_arrow_right</i>More</a>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h1 class="center light-green-text">
            <i class="large material-icons">assessment</i>
          </h1>
          <h3 class="center">Assessment</h3>
          <p class="flow-text">
            We know quite a lot about which species around the world are most endangered. The IUCN Red List of Threatened Species identifies species that are most at risk of extinction. But scientists have become increasingly concerned that the habitats of species and the ecological processes that influence the relationships between species are not adequately considered.
          </p>
        </div>
        <div class="center">
          <a href="#assessment" class="blue waves-effect waves-light btn-large"><i class="material-icons right">keyboard_arrow_right</i>More</a>
        </div>
      </div>
    </div>
</div>
  <div id="index-banner" class="parallax-container valign-wrapper">
  <div class="parallax"><img src="/static/images/NickMurray-41.jpg"></div>
</div>
<!--
 Case studies -->
<div class="container section">
  <h3 class="header" id="assessment">Assessment</h3>
  <p class="flow-text">
    We know quite a lot about which species around the world are most endangered. The IUCN Red List of Threatened Species identifies species that are most at risk of extinction. But scientists have become increasingly concerned that the habitats of species and the ecological processes that influence the relationships between species are not adequately considered.
  </p>
  <p class="flow-text">
    The newly developed <a href="http://www.iucnrle.org/">IUCN Red List of Ecosystems</a> identifies ecosystems as Critically Endangered, Endangered, Vulnerable or Least Concern. Together, the Red Lists for species and ecosystems will provide a more comprehensive view of the status of the environment and its biodiversity than either can on its own.
  </p>
  <p class="flow-text">
Mapping ecosystems in Remap is a crucial step in conducting an ecosystem assessment. Find out more about the IUCN Red List of Ecosystems:
<a href="http://www.iucnrle.org/">www.iucnrle.org</a> 
  <p class="flow-text">
Access the research that supports the IUCN Red List of Ecosystems (English, Spanish, French).
  </p>
</div>
<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="parallax"><img src="/static/images/NickMurray-10.jpg"></div>
</div>
-->
<div class="container section">
  <h3 class="header" id="tutorial">Tutorial</h3>
  <p>Very high level overview</p>
  <p class="flow-text">
    What are Classes?
  </p>
  <p>
    In order to make a map of your ecosystem EcoMapper needs data to train a model called a classifier.

    We take data points you provide to us and intersect those points with various satellite datasets to create a dataset that we then use to predict what the rest of the map is. 
  </p>
  <h4 class="header">Map Control</h4>
  <p>Marker Visibility toggle, toggles the visibility of the markers.</p>
  <p>Predictor Select, Allows you to view the </p>
  <h4 class="header">Workflow</h4>
  <p>
    The following is a general tutorial to guide you through making a map of your ecosystem.
  </p>
  <h5>1. Select region of Interest</h5>
  <p>Use the search bar to bring the map to your region and then click  Focus Region to bring the polygon onto the map.
  </p>
  <p>Manipulate the polygon so that it encapsulates the general region of your ecosystem.</p>

  <h5>2. Build Training set</h5>
  <p>In the sidebar click Build Training Set  and click the gear next to the highlighted class.
  </p>
  <p>You can then relabel your ecosystem and change its colour.</p>
  <p>When you are happy with its name and colour click OK</p>
  <p></p>
  <p>Add a couple more classes eg. Water, Agriculture, ... <b> suggestions? </b></p>
  <p>You can then begin adding training points. </p>
  <p>Click Add Markers </p>
  <p>Clicking on the map will now add a marker that we will use as data to train the model which builds the map </p>
  <p>You should aim for 40+ for each class.</p>
  <p></p>
  <h5>3. Select Predictors</h5>
  <p>In this section you can choose which predictors you want to use in the classification. More information about each predictor can be found in the <a href="/methods">methods</a> Section</p>
  <h5>4. Classify </h5>
  <p>Click Classify to make a map, this can take up to a minute.</p>
  <p>When the classification has completed you should be able to explore your map</p>
  <p>If you add or remove markers or add or remove predictors you can rerun your classification by pressing Reclassify</p>
  <h5>5. Results </h5>
  <p>In this section you can view various classification metrics as well as look at an area histogram. </p>
  <h5>6. Export </h5>
  <p>In this section you can download your training points as a CSV for future reuse or Log in with your Google Account and then download the map as an image to your Google Drive. </p>
</div>


{% endblock %}