{% extends "templates/layout.html" %}

{% block content %}
<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="container">
    <div class="row center">
      <h1 class="header white-text">remap</h1>
      <!-- <img class="masthead-logo" src="/static/images/Logo_v4_RLE_trans-01.png"> -->
      <h5 class="header white-text">Enabling large-scale ecosystem mapping and assessment.</h5>
    </div>
  </div>
  <div class="parallax"><img src="/static/images/NickMurray-62.jpg"></div>
</div>
<!-- three panel thing -->
<div class="three-section section container">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h1 class="center">
            <span class=" three-icon lnr lnr-earth"></span>
          </h1>
          <h4 class="center">Global</h4>
          <p class="light small-desc">
Remap is an online mapping platform for people with little technical background in remote sensing. We developed remap to enable you to quickly map and report the status of ecosystems, contributing to a global effort to assess all ecosystems on Earth under the <a href="http://iucnrle.org/">IUCN Red List of Ecosystems</a>.
          </p>
          <div class="center">
            <a href="/about" class="waves-effect waves-light btn more-btn">More<span class="lnr lnr-arrow-right"></span></a>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h1 class="center">
            <span class="three-icon lnr lnr-map"></span>
          </h1>
          <h4 class="center">Mapping</h4>
          <p class="light small-desc">
          Until now, the data, remote sensing methods and computing resources needed to map ecosystems have been inaccessible to non-experts. Remap uses a machine learning classifier to analyse a range of spectral, biophysical and climatic satellite data to map landscapes. To make your map, interactively train the classifier or upload your own field data and click Classify. 
          </p>
            <div class="center">
            <a href="#" class="waves-effect waves-light btn more-btn">More<span class="lnr lnr-arrow-right"></span></a>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h1 class="center">
            <span class="three-icon lnr lnr-chart-bars"></span>
          </h1>
          <h4 class="center">Assessment</h4>
            <p class="light small-desc">
            We know quite a lot about which species around the world are most endangered. The IUCN Red List of Ecosystems aims to identify the ecosystems on earth at the highest risk of collapse. Use remap to calculate the spatial metrics needed to classify ecosystems as Vulnerable, Endangered or Critically Endangered.
          </p>
        </div>
        <div class="center">
          <a href="#assessment" class="waves-effect waves-light btn more-btn">More<span class="lnr lnr-arrow-right"></span></a>
        </div>
      </div>
    </div>
</div>
  <div id="index-banner" class="parallax-container valign-wrapper">
  <div class="parallax"><img src="/static/images/NickMurray-41.jpg"></div>
</div>
<!--
 Case studies -->
<div class="container section">
  <h3 class="header" id="assessment">Assessment</h3>
  <p class="flow-text">
    The <a href="http://www.iucnrle.org/">IUCN Red List of Ecosystems</a> identifies ecosystems as Critically Endangered, Endangered, Vulnerable or Least Concern. Together, the Red Lists for species and ecosystems will provide a more comprehensive view of the status of the environment and its biodiversity than either can on its own.Find out more about the IUCN Red List of Ecosystems: <a href="http://www.iucnrle.org/">www.iucnrle.org</a> 
  </p>
</div>
<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="parallax"><img src="/static/images/NickMurray-10.jpg"></div>
</div>
<div class="container section">
  <h3 class="header" id="tutorial">Background Information</h3>
  <p>
  Use remap to develop maps of your local area! This page provides a some useful background on satellite remote sensing, an introduction to map making for conservation, and some detailed tutorials to enable you to make maps of your local landscape.  
  </p>
  
  <h5 class="header">Satellite remote sensing</h5>
  <p>
    Satellites have been imaging the earth for around 50 years. In that time they have been instrumental in identifying large, detrimental changes to ecosystems. Indeed, the trajectories of many of Earth’s major ecosystem types, such as the –3.7% annual decrease in the extent of tropical peatlands, –2% annual decline of coastal wetlands in East Asia and the >1% net annual change of forests globally were quantified with large-scale remote sensing analyses of satellite data. </p>
  <p> The basis of all of these observations of ecosystem loss and change has been accurate maps of ecosystem distributions. Maps of ecosystems may be developed from a range of sources, but the use of satellites such as Landsat have allowed long-term changes (nearly up to 50 years) to be detected. </p>

  <p>In remap, we use Landsat satellites and a range of other datasets to develop accurate maps of ecosystem distributions. Our classification methods, which utilise machine learning to rapidly and accurately classify satellite image pixels, are proven to work for a range of ecosystem types. 
  </p>

  <h5 class="header">What are map classes?</h5>
  <p>To make a map of the landscape remap needs data to train a model called a classifier. We take data points that identify all of the classes present in the landscape and intersect them with a range of satellite datasets, which we can then use to predict across the rest of the landscape. The result is a map where all pixels have been classified into the classes originally presented to remap.</p>

  <p>We suggest making maps of ecosystems where each class is a single ecosystem type, such as mangrove, tidal flat and salt marsh. However, remap will classify the landscape into any set of classes you provide, enabling you to make maps of deforestation (2 classes: forest &amp; non-forest) or land cover (3 classes: agriculture, bare land, urban area).</p>

</div>


{% endblock %}