<!DOCTYPE html>
<html>
  <head>
    <!-- metas -->
    <title>remap | A Remote Ecosystem Mapping and Assessment Pipeline</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="REMAP is a mapping tool that enables the mapping and assessment of remote ecosystems, REMAP uses Google Earth Engine to produce a high quality map." >
    <!-- CSS IMPORTS -->
    <!-- Load the Roboto font. -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <!-- Load Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Load noUiSlider. -->
    <link rel="stylesheet" href="/static/css/jquery.minicolors.css">
    <!-- Load Materialize. -->
    <link rel="stylesheet" href="/static/css/materialize.css">
    <link rel="stylesheet" href="/static/css/nouislider.css">
    <!-- Load our styles. -->
    <link rel="stylesheet" href="/static/css/app-style.css">
    <!-- JS IMPORTS Are just before the closing of the body tag -->
  </head>
  <body>
    {% if not DEBUG %}
      <script> // Google analytics
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-98429542-1', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
    <div class="wrapper">
      <div class="wrapper-left">
        <ul id="slide-out" class="side-nav fixed">
          <!-- logo header etc -->
          <li><a class="logo-link" href="/home"><img class="logo" src="/static/logos/LogoRedSponsors_v1_small-01.png"></a></li>
          <!-- search box -->
          <li>
            <div class="search-wrapper card">
              <input id="search" placeholder="Search">
              <i class="material-icons">search</i>
              <div class="search-results"></div>
            </div>
          </li>
          <li>
            <div class="opacity-control">
              <div id="classification-control"></div>
              <div id="predictor-control"></div>
            </div>
          </li>
          <ul class="collapsible collapsible-accordion">
            <li>
              <div class="collapsible-header">
                <b>Map Control</b>
                <i class="material-icons">layers</i>
              </div>
              <div class="collapsible-body">
                <div class="container">
                  <div class="switch">
                    <label>Marker Visibility
                      <input type="checkbox" checked id="marker-toggle" onclick="markerVisibility()" data="0">
                      <span class="lever"></span>
                    </label>
                  </div>
                  <div class="input-field col s12">
                    <select id="predictorVis" onchange="predictorVis(true)">
                      <option value="natural">Landsat 14-17</option>
                      <option value="past-natural">Landsat 99-03</option>
                      {% for predictor in predictors %}
                        {% if predictor.vis %}
                          <option value="{{ predictor.short_name }}"> {{ predictor.short_name }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                    <label>Predictor:</label>
                  </div>
                  <div class="input-field col s12" id="sigma-div">
                    <select id="sigma" onchange="predictorVis()">
                      <option value="1">1</option>
                      <option value="1.5">1.5</option>
                      <option selected value="2">2</option>
                      <option value="2.5">2.5</option>
                      <option value="3">3</option>
                    </select>
                    <label>Sigma</label>
                  </div>
                </div>
            </li>
          </ul>
          <div class="divider"></div>
          <li><a class="collapsible-header waves-effect" onclick="reFocusRegion()"><i class="material-icons">games</i>Focus Region</a></li>
          <!-- 2. Build Training Set -->
          <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
              <li>
                <a class="collapsible-header"><i class="material-icons">room</i>Build Training Set</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a class="modal-trigger waves-effect" href="#modal3"><i class="material-icons">file_upload</i>Upload Data</a></li>
                    <li class="text-divider">Or</li>
                    <li id="addMarkers"><a class="waves-effect" onclick="addMarkers()"><i class="material-icons">add_location</i>Add Markers</a></li>
                    <li><div class="divider"></div></li>
                    <li id="classListEnd"><div class="divider"></div></li>
                    <li><a class="waves-effect" onclick="addClass()"><i class="material-icons">add</i>Add New Class</a></li>
                    <li><div class="divider topless"></div></li>
                    <li><a class="waves-effect" onclick="resetTraining()"><i class="material-icons">delete</i>Reset Training Data</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
          <!-- 3. Predictors -->
          <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
              <li>
                <a class="collapsible-header"><i class="material-icons">toc</i>Select Predictors</a>
                <div class="collapsible-body">
                  <a href="methods#predictors" target="_blank">Which predictors to use?</a>
                  <div class="input-field">
                    <select multiple id="predictors">
                       <option value="" disabled selected>Choose predictors</option>
                      {% for predictor in predictors %}
                        <option value="{{ predictor.short_name }}" 
                          {% if predictor.checked %}
                            selected="selected"
                          {% endif %}>{{ predictor.long_name }}</option>
                      {% endfor %}
                    </select> 
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <!-- 4. Classify -->
          <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
              <li>
                <a class="collapsible-header waves-effect"><i class="green-text material-icons">play_arrow</i>Classify!</a>
                <div class="collapsible-body">
                  <div class="classify-container">
                    <a class="classify-btn btn" onclick="giveTraining(false)">Default (2014-2017)</a>
                    <a class="classify-btn btn" onclick="giveTraining(true)">Past (1999-2003)</a>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <!-- 5. Results -->
          <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
              <li>
                <a class="collapsible-header"><i class="material-icons">assessment</i>Results</a>
                <div class="collapsible-body">
                  <ul><li id="results"><a>No results yet.</a></li></ul>
                  <ul id="resultsList"></ul>
                </div>
              </li>
            </ul>
          </li>
          <!-- 6. Assessment -->
          <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
              <li>
                <a class="collapsible-header"><i class="material-icons">show_chart</i>Assessment</a>
                <div class="collapsible-body">
                  <ul>
                    <div class="container">
                      <label>Class of interest</label>
                      <select id="assessment_select"></select>
                      <a id="assessment_btn" class="more-btn btn" onClick="runAssessment()"> Run Assessment</a>
                    </div>
                  </ul> 
                </div>
              </li>
            </ul>
          </li>
          <!-- 7. export -->
          <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
              <li>
                <a class="collapsible-header"><i class="material-icons">import_export</i>Export Data</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a class="waves-effect" id="csvDownload" download="remap_points.csv" onclick="prepareDownload()"><i class="material-icons">pin_drop</i>Download CSV</a></li>
                    <li><a class="waves-effect" id="jsonDownload" download="remap_training.json" onclick="dataDownload()"><i class="material-icons">file_download</i>Download JSON</a></li>
                    <li id="g-info"><a class="subheader">To Download the GeoTIFF:</a></li>
                    <li id="g-sign-in"><a class="waves-effect" href="{{ oauth_url }}" onclick="loginClick()"><i class="gimg"><img class="glogo" src="static/g-logo.png"></i>Sign in with Google</a></li>
                    <li id="g-download"><a class="subheader waves-effect" onclick="downloadDrive()"><i class="material-icons">cloud_download</i>Drive export GeoTIFF
                      <div id="gspinner" class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-blue-only">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div>
                          <div class="gap-patch">
                            <div class="circle"></div>
                          </div>
                          <div class="circle-clipper right">
                            <div class="circle"></div>
                          </div>
                        </div>
                      </div>
                      <i id="gtick" class="green-text right material-icons">done</i>
                      <i id="gcross" class="red-text right material-icons">clear</i>
                    </a></li>
                    <li id="g-sign-out"><a class="waves-effect" onclick="signOut()"><i class="gimg"><img class="glogo" src="static/g-logo.png"></i>Sign out</a></li>
                    <li><a class="waves-effect" onclick="signOutChange()"><i class="gimg"><img class="glogo" src="static/g-logo.png"></i>Change user</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
          <li class="no-padding">
            <a id="useremail" class="subheader" target="_blank">
              {{ email }}
            </a>
          </li>
          <li class="no-padding">
            <a class="collapsible-header" href="/home" target="_blank">
              <i class="material-icons">info</i>
              Site Info and Methods
            </a>
          </li>
        </ul>
        <div id="map"></div>
        <a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only"><i class="material-icons">chevron_right</i></a>
        <div id="spinner" class="preloader-wrapper medium active">
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
        <a href="https://goo.gl/forms/etRt1SYclK6mz8993" target="_blank" class="feedback">Feedback</a>
      </div>
    </div>
    <!-- RESULTS MODAL -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <div class="header">
          <h4>Results</h4>
        </div>
        <div class="divider"></div>
        <div class="container">
          <table id="resultsTable" class="centered striped"></table>
        </div>
        <p id="histchart"></p>
      </div>
    </div>
    <!-- Class  modal -->
    <div class="modal" id="modal2" value="0">
      <div class="input-field">
        <input id="cname" type="text">
        <label for="cname">Class Name</label>
      </div>
      <input type="text" id="inline" class="demo">
      <div class="advContainer">
        <div class="input-field">
          <input id="r" type="number" min="0" max="255" class="validate">
          <label for="r" data-error="0-255">R</label>
        </div>
        <div class="input-field">
          <input id="g" type="number" min="0" max="255" class="validate">
          <label for="g" data-error="0-255">G</label>
        </div>
        <div class="input-field">
          <input id="b" type="number" min="0" max="255" class="validate">
          <label for="b" data-error="0-255">B</label>
        </div>
      </div>
      <div class="button-group">
        <a class="waves-effect waves-light btn" onclick="setClass()">OK</a>
        <a class="waves-effect waves-light btn" onclick="closeColourModal()">Cancel</a>
        <a class="waves-effect waves-light btn" onclick="deleteClass()">Delete</a>
      </div>
    </div>
    <div class="modal" id="mobile-modal">
      <div class="modal-content">
        <h4>Note:</h4>
        <p>This application is best viewed on a larger screen.</p>
      </div>
    </div>
    <!--  UPLOAD MODAL -->
    <div class="modal" id="modal3">
      <div class="modal-content">
        <h4>Upload Data</h4>
        <div class="row">
          <div class="col s4">
            <div><h5>CSV</h5></div>
          </div>
          <div class="col s4">
            <div><h5>JSON</h5></div>
          </div>
          <div class="col s4">
            <div><h5>KML</h5></div>
          </div>
        </div>
        <div class="row">
          <div class="col s4 desc">
              Upload a <code>.csv</code> file of your points. The columns should be in the order: latitude, longitude and class. Where Latitude and Longitude are in WGS84 and class is the ecosystem label.
              It is <b>important</b> that the classes do not have a comma (,) in the label.
          </div>
          <div class="col s4 desc">
            Upload a <code>.json</code> file of your training data, Choose this option if you have previously used REMAP and exported the data as a json.
          </div>
          <div class="col s4 desc">
            Upload a <code>.KML</code> file of your region of interest. If you have a specific region that you have a .KML for you can upload it and the region will clip to it.
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <input type="checkbox" checked id="regionChangeCheckbox" />
            <label for="regionChangeCheckbox">Change region to fit points</label>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <a class="more-btn btn" onclick="uploadClick()">Upload CSV<input class="hidden" id="csv" type="file" accept=".csv" tabindex="-1"></a>
          </div>
          <div class="col s4">
            <a  class="more-btn btn" onclick="uploadJSONClick()">Upload JSON<input class="hidden" id="json" type="file" accept=".json" tabindex="-1"></a>
          </div>
          <div class="col s4">
            <a class="more-btn btn" onclick="uploadKMLClick()">Upload KML<input class="hidden" id="kml" type="file" accept=".kml" tabindex="-1"></a>
          </div>
        </div>
      </div>
    </div>
    <!--  ASSESSMENT MODAL -->
    <div class="modal" id="assessment-modal">
      <div class="modal-content">
        <h4>Assessment</h4>
        <h5 id="assessment-label"></h5>
        <div class="divider"></div>
        <div class="row" id="assessment-loading">
          <div class="col s12">
            <h5>Waiting for Assessment metrics...</h5>
            <span style="text-align: center">This could take a few minutes.</span>
            <div class="progress">
              <div class="indeterminate"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <div><h5>Total Area</h5></div>
          </div>
          <div class="col s4">
            <div><h5>EOO</h5></div>
          </div>
          <div class="col s4">
            <div><h5>AOO</h5></div>
          </div>
        </div>
        <div class="row hidden" id="assessment-results-row">
          <div class="col s4">
            <div class="assessment-result" id="assessment-area">10 km Squared</div>
          </div>
          <div class="col s4">
            <div class="assessment-result" id="assessment-eoo">24 km Squared</div>
          </div>
          <div class="col s4">
            <div class="assessment-result" id="assessment-aoo">34</div>
            <div class="assessment-result" id="assessment-aoo-1pc">34</div>
          </div>
          
        </div>
        <div class="row">
          <div class="col s4">
              <div class="desc">The total area of your ecosystem in the image.</div>
          </div>
          <div class="col s4">
              <div class="desc">The area of a minimal convex polygon containing your ecosystem. See the <a href="/faq" target="_blank">FAQ page</a> for more information.</div>
            
          </div>
          <div class="col s4">
             <div class="desc">
             We overlay a grid with each grid at 10km by 10km and count the number of squares that the ecosystem of interest occurs in.,
             AOO 1% is the number of squares where the ecosystem has a total area of more than 1% of the grid (1km square).
             See the <a href="/faq" target="_blank">FAQ page</a> for more information.
             </div>
          </div>
        </div>
      </div>
    </div>
    <template id="classTemplate">
      <li class="classVal">
        <a onclick="selectClass(this)">
          <div class="legend-colour"></div>
          <span id="className"></span>
          <i class="material-icons" style="float: right" onclick="editClass(event, this)">settings</i>
          <span class="badge new" style="position: absolute;right: 39px" data-badge-caption="pts">0</span>
        </a>
      </li>
    </template>

    <!-- JS IMPORTS -->
    <!-- Load jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Load JQuery -->
    <script src="/static/js/jquery.minicolors.js"></script>
    <script src="/static/js/nouislider.min.js"></script>
    <script src="/static/js/wNumb-min.js"></script>
    <script src="/static/js/togeojson-min.js"></script>
    <!-- Load Materialize. -->
    <script src="/static/js/materialize.min.js"></script>

    <!--Google scripts  -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyAyyUOUNBCZo_u4YpTl6ioNMWbWMy2rx7w&libraries=places"></script>
    <!-- Our Apps scripts -->
    {% if DEBUG %}
      <script type="text/javascript">console.log('In DEBUG mode') </script>
      <script src="/static/js/app/init.js"></script>
      <script src="/static/js/app/region.js"></script>
      <script src="/static/js/app/class.js"></script>
      <script src="/static/js/app/map.js"></script>
      <script src="/static/js/app/data.js"></script>
      <script src="/static/js/app/oauth.js"></script>
    {% else %}
      <script src="/static/js/app-min.js"></script>
    {% endif %}
    <script type="text/javascript">
      // run the init scripts
      initialize('{{ oauth }}', '{{ reload }}');
      initAutocomplete(); // for the search box.
      
      // confirm on page redirect / close
      {% if not DEBUG %}
        window.onbeforeunload = function() {
          return true; 
        };
      {% endif %}
    </script>
  </body>
</html>
