{% extends 'templates/layout.html' %}
{% block extracss %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}
{% block content %}
<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="container">
    <div class="row center masthead">
      <h1 class="header white-text">Tutorial</h1>
    </div>
  </div>
  <div class="parallax"><img src="/static/images/NickMurray-62.jpg"></div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m9 l10">
      <div id="introduction" class="section scrollspy">
        <h3 class="header">Introduction</h3>
        <p>Remap was designed to make it as simple as possible to make maps of the landscape. The <a href="/">remap tool</a> has a simple workflow with only 7 steps required to find your area, train the classification, assess the IUCN Red List of Ecosystems criteria and download data.</p>
        <p>The workflow is  supported by a few controls that allow you to alter the base layers, add classes, add training points and view your classified map. Here we will introduce the controls and remap workflow to guide you through making your first map.</p>
      </div>

      <div id="map-control" class="section scrollspy">
        <h3 class="header" id="map control">Map Control</h3>
        <p> Map control allows you to visualise different base layers (predictors), toggle marker points on and off and change the way colours of the base layers are rendered. </p>
        <p> Map control is particularly useful for visualising the different predictors that the Random Forest classifier will use to assign pixels to a class. Visualising each predictor layer can assist in distinguishing different ecosystem types while developing your training set. </p>
        <p> Predictors that can be visualised in remap include the Normalized Differenced Vegetation Index (NDVI), Normalized Differenced Water Index (NDWI), the Near Infrared band of Landsat 8, Slope, Elevation, Mean Annual Temperature, and Mean Annual Precipitation. 
        </p>
          
        <ul class="collection">
          <li class="collection-item"><b>Predictor slider.</b> The opacity of the base predictor layer.</li>
          <li class="collection-item"><b>Marker Visibility.</b> Toggle the visibility of your training points.</li>
          <li class="collection-item"><b>Sigma.</b> The rendering range of colours of the base predictor layer.</li>
          <li class="collection-item"><b>Predictor dropdown.</b> Choose the base predictor layer to assist distinguishing  land cover types.</li>
          <li class="collection-item"><b>Classified Map slider.</b> The opacity of your classified map (appears after running the classifier). </li>
        </ul>
      </div>
      <div id="workflow" class="section scrollspy">
          <h3 class="header">Workflow</h3>
          <p>
          To develop a classified map of a region, simply follow a seven-step workflow that helps us define the analysis, train the machine learning classifier and implement your classification. Remap works best when you  provide high quality training data, select relevant predictors and take the time to tune the map classification by providing further training data for classes with low accuracy. </p>
          <p> If you need to save your workspace and start again tomorrow, just export your training data as a JSON file to save it to your computer. When you're ready to start again, upload the JSON via Build Training Set and Remap will take you to where you left off.
          </p>
          
        <ul class="collection">
          <li class="collection-item"><b>1. Focus Region.</b> Define the boundary of your analysis.</li>
          <li class="collection-item"><b>2. Build Training Set.</b> Define your map classes by uploading a training set (.csv, .kml or .JSON) or train interactively using remap's Landsat image mosaics or predictor base layers.</li>
          <li class="collection-item"><b>3. Select Predictors.</b> Choose predictor layers for the classification or use remap's default setting.</li>
          <li class="collection-item"><b>4. Classify!</b> Run the machine learning classification and return the classified map. </li>
          <li class="collection-item"><b>5. Results.</b> Obtain map accuracy statistics and area of each map class in hectares. </li>
          <li class="collection-item"><b>6. Assessment.</b> Obtain area, AOO and EOO measures for a single map class. </li>
          <li class="collection-item"><b>7. Export Data.</b> Export training data as a CSV, remap file as JSON or the classified image (GeoTIFF). </li>
        </ul>
      </div>

      <div id="step-1" class="section scrollspy">
         <h5>1. Focus Region</h5>
          <p> Use the search bar to find your region of interest. Click 1. Focus Region to define the boundaries of your analysis. Change the shape of your region of interest by modifying the polygon boundaries. In general, smaller regions of interest will run faster in remap. </p>
      </div>
      <div id="step-2" class="section scrollspy">
        <p><h5>2. Training Set</h5>
        <p>To make your map, you will need to provide a set of training data ('the training set') to train, or teach, the classifier how to estimate the most likely class that a pixel belongs to. Each class equates to an entity you want to distinguish, which can be ecosystem types, land use types or land cover types. </p>
        <p> In Training Set, you can add new classes, name them, and use the “add markers” button to build your own training set. To name your classes or change their colour simply click the gear icon (<i class="material-icons">settings</i>)next to the highlighted class. </p>
        <p> How many classes to add to your map? Well, if you build a training set with just one class the classifier will classify all pixels to a single class. Therefore, it's best to consider how many classes are within your training region and aim to train for all of them, even if you are only interested in a single ecosystem type. In many cases it will be sufficient to simply train the class of interest and have an "other" class to distinguish it from. Try to aim for a good number of points, say at least 40 per class. </p>
        <p> If you have data from the field or another source, you can also upload your data as a .csv, .JSON or .kml file. Ideally, the file should have the heading 'lat', 'lng', 'label' for it to function in remap, although we do try to handle other headings.</p>
      </div>
      <div id="step-3" class="section scrollspy">
        <h5>3. Predictors</h5>
        <p>We have chosen a default set of predictor layers that will provide good results across a range of ecosystem types. However, if you wish to tune your model to a particular ecosystem type you can simply select the predictors that you want to include in the classification model. For instance, in some ecosystems, such as mangroves, slope may be an important predictor of their spatial distribution and you will want to include it in your model. Using the Map Controls, you can view many of these predictor layers to assess how important they will be for your purposes. More information about each predictor layer can be found in the <a href="/methods">methods</a> Section</p>
      </div>
      <div id="step-4" class="section scrollspy">
        <h5>4. Classify </h5>
        <p> When you are ready to run your classification, click Classify. At this point remap will request the Google Earth Engine to run the remap classification. This step can take up to a few minutes to run, and depends on the size of the focal region, the number of points in your training set and the number of predictors included in the model.</p>
        <p>When the classification is complete you will be able to explore your map, compare it to other base layers and assess its accuracy. You may need to modify your training set or choice of predictors to rerun the classification. Simply modify it and click reclassify.</p>
        <p>There are two classification modes:</p>
        <ul class="collection">
          <li class="collection-item"><b>Default:</b> runs the classification using data from Landsat 8, from 2014-17.</li>
          <li class="collection-item"><b>Past:</b> runs the classification using data from Landsat 5, from 1985-95.</li>
        </ul> 
      </div>
      <div id="step-5" class="section scrollspy">
        <p><h5>5. Results </h5>
        <p> When you classification is complete you can quantify the area of each of the mapped classes, and assess the overall accuracy of you map. Most remote sensors aim for >85% overall accuracy in their maps, so consider adding more training data, adding or removing classes, and rerunning the model. </p> </p>
        </div>
      <div id="step-6" class="section scrollspy">
        <h5>6. Assessment </h5>
        <p> Once you're happy with your final map, you can assess the spatial metrics required by the IUCN Red List of Ecosystems quickly and easily within remap. Simply choose the class of interest (an ecosystem type) and click assess. These metrics can be forwarded to the IUCN Red List of Ecosystems team for use in an assessment of the status of this ecosystem type.</p>
      </div>
      <div id="step-7" class="section scrollspy">
        <h5>7. Export </h5>
        <p>You can download your training points as a CSV, save as a JSON file for future reuse in remap or log in with your Google Account and download the final map as a geotiff to your Google Drive. </p>
      </div>

      <div id="mangrove-mapping" class="section scrollspy">
        <h3>Map a single ecosystem</h3>
        <p>This tutorial provides a simple introduction to mapping a single ecosystem type. We are going to map the mangroves of the Gulf of Carpentaria. Mangroves in this region are extremely <a href="http://onlinelibrary.wiley.com/wol1/doi/10.1002/ece3.2140/full">dynamic</a> and some say they are at risk of ecosystem collapse due to a range of <a href="http://www.publish.csiro.au/mf/MF16322">threats</a>. </p>
        <div id="step-1-mangrove" class="section scrollspy">
         <h5>Navigate to the Gulf</h5>
          <p> In Remap, use the search bar to find our region of interest by typing in <a href="https://goo.gl/maps/YhQvVEpiniz">Carpentaria, Queensland</a>. Navigate to the coast and use Focus Region to define a small region of interest that captures mangroves, salt pan and water. We will go much bigger later on. You can the shape of your region of interest by modifying the polygon boundaries. In general, smaller regions of interest will run faster in Remap. </p>
        </div>


        <div id="step-2-mangrove" class="section scrollspy">
         <h5>Investigate predictor layers</h5>
          <p> Now that you have defined your region of interest, you can investigate the various predictors that might contribute to their distribution. Using the predictor slider in Map Control, first reduce the opacity of the default Landsat 8 image mosaic to view the underlying Google Earth imagery. Note that our analysis will be conducted at the pixel scale of Landsat (~30m) rather than at the Google Earth imagery scale. </p>
          <p> With the predictor drop down you can work your way through each of the predictor layers that area available to use in Remap. Try the Normalized Difference Vegetation Index, or the Near Infrared band of the Landsat OLI sensor. </p>
      </div>

        <div id="step-3-mangrove" class="section scrollspy">
         <h5>Train the classifier</h5>
          <p> Return the predictor baselayer to Landsat 8 (LS8 Median 14-17). You are now ready to teach the Random Forest classifier which pixels belong to Mangroves, and which ones belong to the Other class. This can be achieved by developing a Training Set, which is a set of confirmed observations of the distribution of the map classes you wish to map.</p> 
          <p>To build your training set click 2. Build Training Set and select the gear icon (<i class="material-icons">settings</i>) next to Class 1. Change the Class Name to Mangrove and use the colour picker to set it's colour to green. Click ok to return to Remap.</p>
          <p>Now select the Add Markers (<i class="material-icons">add_location</i>) and click on areas of mangroves on the map. You can continue to do this until you reach approximately 50 training points for mangroves. Repeat this step, this time naming the class Other and giving it a different colour. </p>
          <p> Here is a sample <a href="/static/data/remap_carpentaria_training_set.csv"> csv training set</a>.</p>
          <p> Note that at this stage, if you wish to save your work you can export the training set by clicking 7. Export Data and choosing Download CSV or Download JSON. When you want to start again simply upload the file using the Upload Data (<i class="material-icons">file_upload</i>) in 2. Build Training Set.
      </div>

        <div id="step-4-mangrove" class="section scrollspy">
         <h5>Run the classification</h5>
          <p> We will run Remap with its default predictors, so proceed straight to the classification. Click 4. Classify and then run it usin the default (2014-2017) base layer. Remap will return a classified map of the distribution of mangroves for the period 2014-2017.</p> 
      </div> 
        <div id="step-5-mangrove" class="section scrollspy">
         <h5>Review results</h5>
          <p> Click on 5. Results to obtain a measure of classification accuracy for the map. Clicking More will allow you to obtain detailed accuracy measures and a histogram of the area occupied by each of the classes in your region. </p> 
          <p> Click on 6. Assessment, select Mangrove as the class of interest and run the assessment to obtain some standardised range size metrics that are crucial for assessing risks of ecosystems. </p> 
      </div> 
        <div id="step-6-mangrove" class="section scrollspy">
         <h5>Download data</h5>
          <p> To download the classified map as a GeoTIFF, which is suitable for use in programs such as ArcGIS, R and QGIS, you will first need to sign into your Google account. Then click Drive export to GeoTIFF, and after a few minutes the GeoTIFF will be delivered to your google drive. From there you can download it to your computer for further analysis. </p> 
      </div> 
      <!--
      <div id="all-mapping" class="section scrollspy">
        <h3>Map all ecosystems</h3>
        <p>... </p>
   
      </div>

      <div id="change-mapping" class="section scrollspy">
        <h3>Assess ecosystem change</h3>
        <p>... </p>
      </div>
      -->
 </div>

    </div>
    <div class="col hide-on-small-only m3 l2">
      <div class="toc-wrapper ">
        <ul class="section table-of-contents">
          <li><a href="#introduction">Introduction</a></li>
          <li><a href="#map-control">Map Control</a></li>
          <li><a href="#workflow">Workflow:</a></li>
          <li class="small-indent"><a href="#step-1">1. Region</a></li>
          <li class="small-indent"><a href="#step-2">2. Training Set</a></li>
          <li class="small-indent"><a href="#step-3">3. Predictors</a></li>
          <li class="small-indent"><a href="#step-4">4. Classify</a></li>
          <li class="small-indent"><a href="#step-5">5. Results</a></li>
          <li class="small-indent"><a href="#step-6">6. Assessment</a></li>
          <li class="small-indent"><a href="#step-7">7. Export</a></li>
          <li><a href="#mangrove-mapping">Map a single ecosystem:</a></li>
          <li class="small-indent"><a href="#step-1-mangrove">Mangroves</a></li>
          <li class="small-indent"><a href="#step-2-mangrove">Predictor layers</a></li>
          <li class="small-indent"><a href="#step-3-mangrove">Training set</a></li>
          <li class="small-indent"><a href="#step-4-mangrove">Classify mangroves</a></li>
          <li class="small-indent"><a href="#step-5-mangrove">Classification results</a></li>
          <!--
          <li><a href="#all-mapping">Map all ecosystems:</a></li>
          <li><a href="#change-mapping">Assess ecosystem change:</a></li>
          -->
        </ul>
      </div>
    </div>
  </div> 
</div>
{% endblock %}