{% extends 'templates/layout.html' %} {% block content %}
<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="container">
    <div class="row center masthead">
      <h1 class="header white-text">Methods</h1>
    </div>
  </div>
  <div class="parallax">
    <img src="/static/images/NickMurray-62.jpg">
  </div>
</div>
<div class="container">
  <div class="section">
    <h3>Overview</h3>
    <p> Our design brief was to develop an accurate remote sensing classification system that avoided the difficult technical
      details typical of satellite remote sensing. Here you can learn about how remap works. Remap relies on the incredible
      data storage and geospatial analysis capacities of the
      <a href="https://earthengine.google.com/">Google Earth Engine</a>.</p>
    <p> Remap requires only georeferenced training points that identify the different classes of interest, which most often representative
      ecosystems or land cover classes. Each training point is then intersected with a range of satellite datasets (predictors)
      to train a
      <a href="https://en.wikipedia.org/wiki/Random_forest">random forest classifier</a>. Once the random forest is trained, remap classifies all of the pixels present in a study
      area into one of the classes present in the training set.</p>
    <p> Remap uses freely available, high resolution, global-scale, and publicly available biophysical (
      <a href="https://explorer.earthengine.google.com/#detail/USGS%2FSRTMGL1_003">slope, elevation</a>), spectral (
      <a href="https://explorer.earthengine.google.com/#detail/LANDSAT%2FLC8_SR">Landsat Archive imagery</a>) and climatic (
      <a href="https://explorer.earthengine.google.com/#detail/WORLDCLIM%2FV1%2FBIO">precipitation, temperature</a>) datasets to inform the classification. Each dataset is automatically processed into
      relevant indices, such as the Normalized Difference Vegetation Index, before training and running the classifier. </p>
  </div>

  <div class="divider"></div>
  <h5 id="predictors">Predictors</h5>
  <table class="highlight" id="predictor-table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Short Name</th>
        <th>Long Name</th>
        <th>Earth Engine ID</th>
      </tr>
    </thead>
    <tbody>
      {% for predictor in predictors %}
      <tr>
        <td>{{ predictor.type }}</td>
        <td>{{ predictor.short_name }}</td>
        <td>{{ predictor.long_name }}</td>
        <td>{{ predictor.ee_import }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="divider"></div>
  <div class="section">
    See the
    <a href="/about">About</a> page or read our
    <a href="https://doi.org/10.1101/212464">paper</a> for more information.
  </div>
</div>

{% endblock %}
