{% extends 'templates/layout.html' %} {% block extracss %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> {% endblock %} {% block content %}
<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="container">
    <div class="row center masthead">
      <h1 class="header white-text">Tutorials</h1>
    </div>
  </div>
  <div class="parallax">
    <img src="/static/images/NickMurray-62.jpg">
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m9 l10">
      <p>We developed remap to enable you to quickly map and report the status of ecosystems, contributing to a global effort
        to assess all ecosystems on Earth under the IUCN Red List of Ecosystems. The
        <a href="/remap">remap tool</a> has a simple workflow to allow you to find your region of interest, develop a training set to train
        the classifier, assess your results and download your data.
      </p>
      <p>
        Use the remap user guide and tutorials to quickly get started with making maps with Remap.
      </p>

      <h4>User Guide</h4>
      <ul class="collection borderless">
        <li class="collection-item borderless">
          Remap user guide
          <a href="/static/tutorials/RemapUserGuide-v1-2.pdf">PDF</a>
        </li>
      </ul>

      <h4>PDF Tutorials</h4>
      <ul class="collection borderless">

        <li class="collection-item borderless">
          1. Mapping a single ecosystem type
          <a href="/static/tutorials/RemapTutorial1-v1-2.pdf">PDF</a>
        </li>
        <li class="collection-item borderless">
          2. Mapping land cover change over a 15 year period
          <a href="/static/tutorials/RemapTutorial2-v1-2.pdf">PDF</a>
        </li>
      </ul>

      <h4>Video Tutorials</h4>
      <ul class="collection borderless">
        <li class="collection-item borderless">
          1. Mangroves of the Gulf of Carpentaria
          <a href="https://youtu.be/TKvUcpOwzWs">YouTube</a>
        </li>

        <li class="collection-item borderless">
          2. Mapping coastal change with Landsat
          <a href="https://youtu.be/nDiqkHR7n-g">YouTube</a>
        </li>
        
        <li class="collection-item borderless">
          3. Mapping deforestation with remote sensing
          <a href="https://youtu.be/qr3zGe_KQAU">YouTube</a>
        </li>
      </ul>

      <h4>Sample Data</h4>
      <p>
        <ul class="collection borderless">
          {% for data in sample_data %}
          <li class="collection-item borderless">
            {{ data.name }}:
            <a href='/static/data/{{data.csv}}'>CSV</a>
            <a href='/static/data/{{data.json}}'>JSON</a>
          </li>
          {% endfor%}
        </ul>
    </div>
  </div>
</div>
{% endblock %}
